<html>
  <head>
  </head>
  <body>
    <h1> Unboxed </h1>

    <p> Enter a github username:</p>
    <form action="/" method="post">
     Username <input type="text" name="username">
     <input type="submit" value="Submit">
    </form>
  </body>
</html>
